.project-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: white;
    border: solid #696868 1px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 375px;
    max-height: 450px;
}

.project-card h1 {
    text-align: center;
    margin-bottom: 0px;
}

.project-card h2 {
    font-size: 0.75rem;
}

.project-card img {
    display: block;
    margin: 0px;
    max-width: 250px;
   /* padding-left: 25px; */
    /*padding-right: 25px; */
    margin-bottom: 10px; 
    border-radius: 20px;
    border: solid white 1px;
}

.project-card > p {
    max-width: 350px;
    padding: 0px 25px 10px 25px;
    margin: 0px;
}

.project-card .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card .links a {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3f3f3f;
    border-radius: 15px;
}

.project-card .links i {
    margin-right: 5px;
}

.tech-stack-used {
    display: flex;
    align-items: center; 
    gap: 5px;
    padding: 0px 25px;
    margin-bottom: 10px;
}

.tech-stack-used p {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 30px;
}

.frontend {
    background-color: #f9715d; 
}

.backend {
    background-color: #9ea9f8;
}

.framework {
    background-color: #329b2c;
}

.html-css {
    background-color: #f690b7;
}

@media (max-width: 700px) {
    .project-card img {
        display: none;
    }

    .project-card > p {
        max-width: 100%;
        padding: 0px 15px 10px 15px;
    }


    .project-card .links a {
        margin-bottom: 10px;
        padding: 8px;
    }

    .tech-stack-used {
        flex-wrap: wrap; 
    }

    .tech-stack-used p {
        font-size: 0.65rem; 
    }
}
