.tech-stack {
    border: solid #696868 1px;
    max-width: 1000px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.tech-stack:hover {
    transform: scale(1.02);
}

.tech-stack > h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #42d9ff;
    margin-bottom: 20px;
}

.tech-stack h2 {
    color: white;
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}

.tech-stack > h1 > i {
    margin-right: 10px;
    color: #42d9ff;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.languages,
.frameworks {
    display: flex;
    flex-wrap: wrap;
    background-color: #232222;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    transition: background-color 0.3s ease;
}

.languages:hover,
.frameworks:hover {
    background-color: #2e2e2e;
}

.languages > p,
.frameworks > p {
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #3f3f3f;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.languages > p:hover,
.frameworks > p:hover {
    transform: scale(1.1);
    background-color: #4a4a4a;
}

.languages > p > i,
.frameworks > p > i {
    margin-right: 10px;
    color: #0077B5;
}

