.about-me {
    max-width: 600px;
    min-width: 400px;
    border: solid #696868 1px;
    border-radius: 5px;
    margin-left: 10px;
}

.intro {
    display: flex;
    align-items: center;
    gap: 0px;
    
}

.profile{
    padding: 30px;
    object-fit: contain;
    max-width: 100%;
    width: 100px;
    height: auto; 
    border-radius: 100%;
}

h1 {
    color: #42d9ff;
    font-size: 2rem;
}

h2 span {
    color: #42d9ff;
    font-size: 1.5rem;
}

.trait {
    font-size: 1.75rem;
}

.cursor {
    font-size: 2rem;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    background-color: #232222;
    border-radius: 10px;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.labels div{
    display: flex;
    background-color: #3f3f3f;
    border-radius: 10px;
    gap: 5px;
    font-weight: 200;
    align-items: center;
    
}

.labels div:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out; 
}

.labels p{
    font-weight: 400;
    font-size: 0.8rem;
    padding-right: 5px;
}
.labels img,
.labels i {
    padding-left: 5px;
    height: 20px;
    color: #42d9ff;
}

.connect {
    color: #42d9ff;
    text-align: center;
}

.connect > h2 {
    font-size: 1.5rem;
}

.connection-forms {
    color: white;
    margin-bottom: 15px;
}

.connection-forms a {
    font-size: 1rem;
    font-weight: 100;
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.connection-forms a:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out; 
}

.connection-forms i {
    padding-right: 8px;
}

#linkedIn{
    color: #0077B5;
}
